In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import math
import seaborn as sns

import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
sklearn.__version__

'0.21.2'

## LendingClub Data Acquisition

In [3]:
# raw_q12019 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2019Q1.csv',header=1)
# raw_q42018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q4.csv',header=1)
# raw_q32018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q3.csv',header=1)
# raw_q22018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q2.csv',header=1)
# raw_q12018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q1.csv',header=1)
raw_q42017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q4.csv',header=1)
raw_q32017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q3.csv',header=1)
raw_q22017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q2.csv',header=1)
raw_q12017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q1.csv',header=1)
raw_q42016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q4.csv',header=1)
raw_q32016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q3.csv',header=1)
raw_q22016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q2.csv',header=1)
raw_q12016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q1.csv',header=1)
raw_2015 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2015.csv',header=1)
raw_2014 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2014.csv',header=1)
raw_2012to2013 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2012to2013.csv',header=1)
raw_2007to2011 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2007to2011.csv',header=1)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,118) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# print(raw_q12019.shape)
# print(raw_q42018.shape)
# print(raw_q32018.shape)
# print(raw_q22018.shape)
# print(raw_q12018.shape)
print(raw_q42017.shape)
print(raw_q32017.shape)
print(raw_q22017.shape)
print(raw_q12017.shape)
print(raw_q42016.shape)
print(raw_q32016.shape)
print(raw_q22016.shape)
print(raw_q12016.shape)
print(raw_2015.shape)
print(raw_2014.shape)
print(raw_2012to2013.shape)
print(raw_2007to2011.shape)
#raw_q12019,raw_q42018,raw_q32018,raw_q22018,raw_q12018,
dfs = [raw_q42017,raw_q32017,raw_q22017,raw_q12017,
       raw_q42016,raw_q32016,raw_q22016,raw_q12016,raw_2015,
       raw_2014,raw_2012to2013, raw_2007to2011]

(118650, 150)
(122703, 150)
(105453, 150)
(96781, 150)
(103548, 150)
(99122, 150)
(97856, 150)
(133889, 150)
(421097, 150)
(235631, 150)
(188183, 150)
(42538, 150)

In [5]:
raw_lc_df = pd.concat(dfs,ignore_index=True).set_index('id')

In [6]:
raw_lc_df

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
126065224,NaN,9600.0,9600.0,9600.0,36 months,11.99%,318.82,B,B5,UXO Technician,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126413271,NaN,25000.0,25000.0,25000.0,60 months,12.62%,563.98,C,C1,Practice Administrator,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126176997,NaN,30000.0,30000.0,30000.0,60 months,30.79%,985.21,G,G1,Supervsir,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126389018,NaN,35000.0,35000.0,35000.0,60 months,11.99%,778.38,B,B5,Project Manager,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126406926,NaN,6000.0,6000.0,6000.0,36 months,9.44%,192.03,B,B1,Clinical Program Manager,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
125602675,NaN,13000.0,13000.0,13000.0,60 months,15.05%,309.62,C,C4,Sales manager,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126154990,NaN,4000.0,4000.0,4000.0,36 months,10.42%,129.86,B,B3,Driver,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126417318,NaN,15000.0,15000.0,15000.0,36 months,10.42%,486.98,B,B3,Finance,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126410177,NaN,6500.0,6500.0,6500.0,36 months,7.35%,201.75,A,A4,Manager,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
125193750,NaN,5000.0,5000.0,5000.0,36 months,22.91%,193.32,E,E1,IT Manager,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126338469,NaN,25000.0,25000.0,25000.0,36 months,6.72%,768.74,A,A3,Office Manager,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126383696,NaN,10000.0,10000.0,10000.0,36 months,9.93%,322.35,B,B2,Inspector,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126309246,NaN,8000.0,8000.0,8000.0,36 months,9.93%,257.88,B,B2,Pharmacy Technician,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126189493,NaN,24000.0,24000.0,24000.0,60 months,13.59%,553.35,C,C2,Prospective Payment System Coordinator,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126419316,NaN,20000.0,20000.0,20000.0,60 months,16.02%,486.58,C,C5,Tractor Trailer Driver,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
125149625,NaN,10000.0,10000.0,10000.0,60 months,10.42%,214.55,B,B3,Software Engineer,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126309870,NaN,20000.0,20000.0,20000.0,36 months,6.72%,614.99,A,A3,Installer,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126407653,NaN,15750.0,15750.0,15750.0,36 months,7.35%,488.84,A,A4,Service Coordinator,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
125907898,NaN,20000.0,20000.0,20000.0,36 months,9.93%,644.69,B,B2,Vice President,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
125566359,NaN,10200.0,10200.0,10200.0,36 months,9.93%,328.80,B,B2,Executive Assistant,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126273452,NaN,19800.0,19800.0,19800.0,60 months,15.05%,471.57,C,C4,engineer,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126171880,NaN,8400.0,8400.0,8400.0,36 months,18.06%,303.94,D,D2,Welder,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126365454,NaN,12000.0,12000.0,12000.0,36 months,6.72%,369.00,A,A3,Project Manager,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126412424,NaN,10000.0,10000.0,10000.0,36 months,5.32%,301.15,A,A1,Paralegal,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126193806,NaN,24000.0,24000.0,24000.0,36 months,7.97%,751.75,A,A5,Senior Valuation Consultant,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126406609,NaN,20000.0,20000.0,20000.0,36 months,6.08%,609.17,A,A2,Software Support Engineer,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126414344,NaN,5000.0,5000.0,5000.0,36 months,7.35%,155.19,A,A4,respiratory therapist,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
125490256,NaN,16000.0,16000.0,16000.0,36 months,7.97%,501.17,A,A5,Associate to Database Services,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126165519,NaN,4800.0,4800.0,4800.0,36 months,18.06%,173.68,D,D2,Management,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
126417216,NaN,25000.0,25000.0,25000.0,60 months,17.09%,622.53,D,D1,Business Analyst,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91175,NaN,6000.0,6000.0,1200.0,36 months,13.12%,202.51,D,D5,SUNY- ESF,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
91126,NaN,5350.0,5350.0,625.0,36 months,13.12%,180.57,D,D5,Clinton Shop Rite of Hunterdon County,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
91023,NaN,1900.0,1900.0,900.0,36 months,9.64%,61.00,B,B4,Scheduall,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
90106,NaN,10000.0,10000.0,350.0,36 months,14.70%,345.18,E,E5,GA-PCOM,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
89258,NaN,2000.0,2000.0,1275.0,36 months,7.12%,61.87,A,A1,Tzigane Inc,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
88637,NaN,6000.0,6000.0,650.0,36 months,10.59%,195.28,C,C2,Yale University,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
88046,NaN,4400.0,4400.0,1400.0,36 months,9.64%,141.25,B,B4,Brick Township board of education,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
85961,NaN,1200.0,1200.0,500.0,36 months,9.01%,38.17,B,B2,Classic Components,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
85818,NaN,5000.0,5000.0,375.0,36 months,11.22%,164.23,C,C4,Compensation Solutions,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
85781,NaN,1400.0,1400.0,475.0,36 months,10.91%,45.78,C,C3,"Stanford University Libraries, LOCKSS Project",...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
85675,NaN,1000.0,1000.0,625.0,36 months,14.07%,34.21,E,E3,Macy's,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
84670,NaN,5000.0,5000.0,300.0,36 months,7.75%,156.11,A,A3,Diamond Management and Technology Consultants,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
84098,NaN,2500.0,2500.0,225.0,36 months,7.43%,77.69,A,A2,U.S. Bank,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
83979,NaN,3000.0,3000.0,250.0,36 months,7.43%,93.23,A,A2,NC,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
83489,NaN,2600.0,2600.0,575.0,36 months,8.38%,81.94,A,A5,College Pro Painters,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
83185,NaN,1000.0,1000.0,625.0,36 months,7.12%,30.94,A,A1,Mana Products,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
74014,NaN,6450.0,6450.0,0.0,36 months,11.22%,211.85,C,C4,Apto Solutions,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
76629,NaN,1275.0,1275.0,0.0,36 months,12.49%,42.65,D,D3,Infinitely law group,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
81085,NaN,10500.0,10500.0,275.0,36 months,11.22%,344.87,C,C4,Town of Plainville,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
77792,NaN,3000.0,3000.0,125.0,36 months,9.01%,95.42,B,B2,Tanks Tavern,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
77757,NaN,3000.0,3000.0,0.0,36 months,9.33%,95.86,B,B3,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
74505,NaN,2000.0,2000.0,225.0,36 months,9.96%,64.50,B,B5,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
74323,NaN,6500.0,6500.0,0.0,36 months,9.64%,208.66,B,B4,Air Force,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
73582,NaN,3500.0,3500.0,225.0,36 months,10.28%,113.39,C,C1,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
72998,NaN,1000.0,1000.0,0.0,36 months,9.64%,32.11,B,B4,Halping hands company inc.,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
72176,NaN,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
71623,NaN,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
70686,NaN,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,Homemaker,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
Total amount funded in policy code 1: 460296150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
raw_lc_df['loan_status'].value_counts()

Fully Paid                                             1076208
Current                                                 399465
Charged Off                                             268335
Late (31-120 days)                                       12138
In Grace Period                                           3934
Late (16-30 days)                                         2586
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     11
Name: loan_status, dtype: int64

In [8]:
raw_lc_df.shape

(1765451, 149)

## Data Cleaning

In [9]:
#FILTER OUT WHOSE STATUS IS NOT YET FINALIZED
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Current']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Late (31-120 days)']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Late (16-30 days)']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'In Grace Period']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Does not meet the credit policy. Status:Fully Paid']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Does not meet the credit policy. Status:Charged Off']

#BINARIZE CLASSES
raw_lc_df['loan_status'] = raw_lc_df['loan_status'].map({'Charged Off': 0, 'Default': 0, 'Fully Paid': 1})

In [10]:
raw_lc_df['earliest_cr_line'] = pd.to_timedelta(pd.to_datetime(raw_lc_df['earliest_cr_line'])).dt.days

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  """Entry point for launching an IPython kernel.

In [11]:
def parse_percentage(percentage):
    '''Change percentage features into floats'''
    if str(percentage) == 'nan': return math.nan
    new = percentage.replace('%', '')
    return float(new) / 100.0

raw_lc_df['revol_util'] = raw_lc_df['revol_util'].apply(parse_percentage)
raw_lc_df['int_rate'] = raw_lc_df['int_rate'].apply(parse_percentage)

In [12]:
raw_lc_df['zip_code'].nunique()

945

In [13]:
#FILTER OUT COLUMNS THAT ARE OBVIOUSLY REDUNDANT OR UNHELPFUL
lc_df = raw_lc_df[['loan_amnt', 'funded_amnt','total_pymnt',
                'term', 'int_rate', 'installment',
                'emp_length', 'home_ownership', 'annual_inc',
                'verification_status', 'loan_status',
                'purpose', 'zip_code', 'addr_state', 'dti',
                'delinq_2yrs', 'earliest_cr_line', 'fico_range_low',
                'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq',
                'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
                'revol_util', 'total_acc', 'out_prncp',
                'out_prncp_inv', 'last_fico_range_high', 'last_fico_range_low',
                'collections_12_mths_ex_med', 'mths_since_last_major_derog',
                'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
                'acc_now_delinq', 'tot_coll_amt',
                'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
                'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
                'open_rv_12m', 'open_rv_24m', 'all_util',
                'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
                'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
                'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
                'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
                'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
                'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
                'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
                'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
                'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
                'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
                'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
                'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
                'total_bal_ex_mort', 'total_bc_limit',
                'total_il_high_credit_limit','grade', 'collection_recovery_fee', 
                'total_rec_prncp', 'title', 'total_rec_int', 'total_rec_late_fee', 
                'sub_grade', 'debt_settlement_flag', 'emp_title','issue_d','last_pymnt_d']]

In [14]:
lc_df.shape

(1344579, 102)

In [15]:
lc_df = lc_df.dropna(axis=0, subset=['loan_amnt','inq_last_6mths'])

In [16]:
#CAST DATATYPES
dtype = {
      'loan_amnt': 'int64',
      'term': 'object',
      'int_rate': 'float64',
      'emp_length': 'object',
      'home_ownership': 'object',
      'annual_inc': 'float64',
      'verification_status': 'object',
      'loan_status': 'object',
      'purpose': 'object',
      'zip_code': 'object',
      'addr_state': 'object',
      'dti': 'float64',
      'delinq_2yrs': 'int64',
      'fico_range_low': 'int64',
      'fico_range_high': 'int64',
      'inq_last_6mths': 'int64',
      'open_acc': 'int64',
      'pub_rec': 'int64',
      'revol_bal': 'int64',
      'total_acc': 'int64',
      'application_type': 'object'
    }
lc_df = lc_df.astype(dtype=dtype)

In [17]:
lc_df.head().T

id,126176997,125602675,126417318,126407653,126273452
loan_amnt,30000,13000,15000,15750,19800
funded_amnt,30000,13000,15000,15750,19800
total_pymnt,11758.3,13598.1,16065.3,16392,22271.9
term,60 months,60 months,36 months,36 months,60 months
int_rate,0.3079,0.1505,0.1042,0.0735,0.1505
installment,985.21,309.62,486.98,488.84,471.57
emp_length,10+ years,10+ years,3 years,10+ years,3 years
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,40000,72000,55000,96500,108600
verification_status,Source Verified,Source Verified,Source Verified,Source Verified,Not Verified
loan_status,0,1,1,1,1
purpose,other,debt_consolidation,debt_consolidation,debt_consolidation,credit_card
zip_code,103xx,333xx,981xx,968xx,021xx
addr_state,NY,FL,WA,HI,MA
dti,30.86,11.17,17.48,12.22,18.19
delinq_2yrs,1,0,0,1,0
earliest_cr_line,12996,12965,14092,12173,14579
fico_range_low,700,705,670,705,725
fico_range_high,704,709,674,709,729
inq_last_6mths,0,0,0,0,1
mths_since_last_delinq,4,NaN,NaN,10,NaN
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,11,4,28,6,10
pub_rec,0,0,0,0,0
revol_bal,19754,12389,12673,1868,1458
revol_util,0.303,0.774,0.737,0.107,0.037
total_acc,23,13,44,17,14
out_prncp,0,0,0,0,0
out_prncp_inv,0,0,0,0,0
last_fico_range_high,579,764,649,714,714
...,...,...,...,...,...
num_bc_sats,7,2,2,5,6
num_bc_tl,12,5,2,8,7
num_il_tl,4,5,40,6,7
num_op_rev_tl,10,3,4,5,6
num_rev_accts,19,8,4,11,7
num_rev_tl_bal_gt_0,7,2,3,4,3
num_sats,11,4,28,6,10
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,1,0
num_tl_op_past_12m,0,0,0,3,1
pct_tl_nvr_dlq,95.7,100,100,88.2,100
percent_bc_gt_75,0,50,50,0,0
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,97743,34782,69346,145171,143296
total_bal_ex_mort,46719,23941,66150,128341,90931
total_bc_limit,44800,15000,12200,17500,39500
total_il_high_credit_limit,32543,18782,52146,127671,103796
grade,G,C,B,A,C
collection_recovery_fee,0,0,0,0,0
total_rec_prncp,2196.71,13000,15000,15750,19800
title,Other,Debt consolidation,Debt consolidation,Debt consolidation,Credit card refinancing
total_rec_int,9463.05,598.13,1065.25,641.95,2471.93
total_rec_late_fee,98.52,0,0,0,0
sub_grade,G1,C4,B3,A4,C4
debt_settlement_flag,N,N,N,N,N
emp_title,Supervsir,Sales manager,Finance,Service Coordinator,engineer
issue_d,Dec-2017,Dec-2017,Dec-2017,Dec-2017,Dec-2017
last_pymnt_d,Feb-2019,Apr-2018,Sep-2018,Sep-2018,Nov-2018

In [18]:
lc_df.columns[lc_df.isna().all()].tolist()

[]

In [19]:
lc_df.shape

(1344553, 102)

In [20]:
#Change dtype
lc_df.loc[lc_df['emp_length'] == '< 1 year','emp_length'] = '0'
lc_df.loc[lc_df['emp_length'] == '10+ years', 'emp_length'] = '10'
lc_df['emp_length'] = lc_df['emp_length'].str[:1]
lc_df['emp_length'] = lc_df['emp_length'].astype(float)

In [21]:
lc_df['zip_code'].nunique()

945

In [22]:
#Drop nulls in zip & emp_title
lc_df = lc_df[lc_df['zip_code'].notnull()]
lc_df = lc_df[lc_df['emp_title'].notnull()]

In [23]:
counts = lc_df['emp_title'].value_counts()
idx = counts[counts.lt(1600)].index

lc_df.loc[lc_df['emp_title'].isin(idx) == False, 'emp_title_2'] = lc_df['emp_title']
lc_df.loc[lc_df['emp_title'].isin(idx), 'emp_title_2'] = 'Other'

In [24]:
clean_lc_df = lc_df.copy()

In [25]:
clean_lc_df.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
Index: 1260156 entries, 126176997 to 87023
Data columns (total 103 columns):
loan_amnt                         int64
funded_amnt                       float64
total_pymnt                       float64
term                              object
int_rate                          float64
installment                       float64
emp_length                        float64
home_ownership                    object
annual_inc                        float64
verification_status               object
loan_status                       object
purpose                           object
zip_code                          object
addr_state                        object
dti                               float64
delinq_2yrs                       int64
earliest_cr_line                  float64
fico_range_low                    int64
fico_range_high                   int64
inq_last_6mths                    int64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                          int64
pub_rec                           int64
revol_bal                         int64
revol_util                        float64
total_acc                         int64
out_prncp                         float64
out_prncp_inv                     float64
last_fico_range_high              float64
last_fico_range_low               float64
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                       float64
application_type                  object
annual_inc_joint                  float64
dti_joint                         float64
acc_now_delinq                    float64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_act_il                       float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                       float64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
grade                             object
collection_recovery_fee           float64
total_rec_prncp                   float64
title                             object
total_rec_int                     float64
total_rec_late_fee                float64
sub_grade                         object
debt_settlement_flag              object
emp_title                         object
issue_d                           object
last_pymnt_d                      object
emp_title_2                       object
dtypes: float64(78), int64(9), object(16)
memory usage: 999.9+ MB

In [26]:
clean_lc_df = clean_lc_df.dropna(subset=
                                 ['collections_12_mths_ex_med','chargeoff_within_12_mths','last_pymnt_d'],axis=0)

### Feature Preprocessing

In [27]:
clean_lc_df

,loan_amnt,funded_amnt,total_pymnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,...,total_rec_prncp,title,total_rec_int,total_rec_late_fee,sub_grade,debt_settlement_flag,emp_title,issue_d,last_pymnt_d,emp_title_2
id,,,,,,,,,,,,,,,,,,,,,
126176997,30000,30000.0,11758.280000,60 months,0.3079,985.21,1.0,RENT,40000.0,Source Verified,...,2196.71,Other,9463.05,98.52,G1,N,Supervsir,Dec-2017,Feb-2019,Other
125602675,13000,13000.0,13598.128415,60 months,0.1505,309.62,1.0,RENT,72000.0,Source Verified,...,13000.00,Debt consolidation,598.13,0.00,C4,N,Sales manager,Dec-2017,Apr-2018,Other
126417318,15000,15000.0,16065.250642,36 months,0.1042,486.98,3.0,RENT,55000.0,Source Verified,...,15000.00,Debt consolidation,1065.25,0.00,B3,N,Finance,Dec-2017,Sep-2018,Other
126407653,15750,15750.0,16391.951100,36 months,0.0735,488.84,1.0,RENT,96500.0,Source Verified,...,15750.00,Debt consolidation,641.95,0.00,A4,N,Service Coordinator,Dec-2017,Sep-2018,Other
126273452,19800,19800.0,22271.932665,60 months,0.1505,471.57,3.0,RENT,108600.0,Not Verified,...,19800.00,Credit card refinancing,2471.93,0.00,C4,N,engineer,Dec-2017,Nov-2018,Other
126412424,10000,10000.0,10078.812117,36 months,0.0532,301.15,1.0,MORTGAGE,100000.0,Source Verified,...,10000.00,Debt consolidation,78.81,0.00,A1,N,Paralegal,Dec-2017,Feb-2018,Paralegal
126413578,32600,32600.0,36636.103936,36 months,0.1199,1082.64,0.0,RENT,55000.0,Source Verified,...,32600.00,Home buying,4036.10,0.00,B5,N,Admissions Advisor,Dec-2017,Mar-2019,Other
126419328,10000,10000.0,10696.771384,36 months,0.0944,320.05,3.0,RENT,54000.0,Not Verified,...,10000.00,Debt consolidation,696.77,0.00,B1,N,Electro Mechanical Technician,Dec-2017,Oct-2018,Other
126383635,13000,13000.0,13569.535461,36 months,0.0993,419.05,1.0,MORTGAGE,85000.0,Source Verified,...,13000.00,Debt consolidation,569.54,0.00,B2,N,Special Education Teacher,Dec-2017,Jul-2018,Other
126343082,10000,10000.0,3319.570000,36 months,0.0672,307.50,5.0,MORTGAGE,70000.0,Verified,...,1788.05,Other,371.08,46.14,A3,N,RN,Dec-2017,Sep-2018,RN
126367651,20000,20000.0,6606.500000,60 months,0.1806,508.53,5.0,MORTGAGE,110000.0,Source Verified,...,1750.38,Debt consolidation,2267.69,0.00,D2,N,N FL HCP Associate Vice President,Dec-2017,Sep-2018,Other
126186267,20000,20000.0,22521.164503,60 months,0.2872,631.44,0.0,RENT,70000.0,Source Verified,...,20000.00,Major purchase,2521.16,0.00,F1,N,Lvn,Dec-2017,Jun-2018,Other
126379308,16000,16000.0,17919.210410,60 months,0.1262,360.95,7.0,MORTGAGE,55000.0,Source Verified,...,16000.00,Debt consolidation,1919.21,0.00,C1,N,Boss and only employee,Dec-2017,Dec-2018,Other
126410270,25000,25000.0,25544.579768,60 months,0.3017,811.45,1.0,MORTGAGE,354000.0,Verified,...,25000.00,Debt consolidation,544.58,0.00,F3,N,chief operating officer,Dec-2017,Feb-2018,Other
126414146,11000,11000.0,12079.472869,36 months,0.0993,354.58,9.0,MORTGAGE,110000.0,Not Verified,...,11000.00,Credit card refinancing,1079.47,0.00,B2,N,Submissions,Dec-2017,Feb-2019,Other
126129726,20000,20000.0,3116.320000,60 months,0.1408,466.20,1.0,MORTGAGE,60000.0,Verified,...,231.53,Home improvement,195.56,0.00,C3,N,Owner,Dec-2017,Feb-2018,Owner
125755993,8000,8000.0,8756.272914,36 months,0.0944,256.04,1.0,RENT,84498.0,Source Verified,...,8000.00,Major purchase,756.27,0.00,B1,N,Administrative Coordinator,Dec-2017,Feb-2019,Other
125794785,35000,35000.0,37921.934358,36 months,0.1042,1136.27,1.0,RENT,55000.0,Verified,...,35000.00,Other,2921.93,0.00,B3,N,Room att,Dec-2017,Jan-2019,Other
126418333,1200,1200.0,1289.972970,36 months,0.0735,37.25,3.0,RENT,24000.0,Not Verified,...,1200.00,Debt consolidation,89.97,0.00,A4,N,Technician,Dec-2017,Apr-2019,Technician
126414116,20000,20000.0,20421.466321,36 months,0.0608,609.17,5.0,MORTGAGE,50000.0,Verified,...,20000.00,Debt consolidation,421.47,0.00,A2,N,vp,Dec-2017,May-2018,Other
126406937,5000,5000.0,5136.906532,36 months,0.0608,152.30,3.0,OWN,150000.0,Source Verified,...,5000.00,Debt consolidation,136.91,0.00,A2,N,Digital Marketing,Dec-2017,Aug-2018,Other
126406059,12000,12000.0,12754.954233,36 months,0.0797,375.88,0.0,MORTGAGE,65000.0,Verified,...,12000.00,Home improvement,754.95,0.00,A5,N,Network Engineer,Dec-2017,Dec-2018,Other
126307353,11200,11200.0,1973.560000,60 months,0.3065,366.85,4.0,MORTGAGE,74460.0,Source Verified,...,80.78,Medical expenses,238.39,0.00,F4,N,Field Tech,Dec-2017,Feb-2018,Other
126393995,10800,10800.0,10845.312000,60 months,0.0944,226.51,5.0,MORTGAGE,75000.0,Source Verified,...,10800.00,Medical expenses,45.31,0.00,B1,N,Assistant Bakery Manager,Dec-2017,Jan-2018,Other
126413169,3200,3200.0,3460.072908,36 months,0.1199,106.28,6.0,MORTGAGE,40000.0,Not Verified,...,3200.00,Other,260.07,0.00,B5,N,Hairstlist,Dec-2017,Oct-2018,Other
126416189,13000,13000.0,4863.050000,60 months,0.2872,410.44,1.0,RENT,50200.0,Source Verified,...,1356.95,Debt consolidation,3506.10,0.00,F1,N,aide,Dec-2017,Jan-2019,Other
126281614,5000,5000.0,1810.310000,36 months,0.0944,160.03,4.0,RENT,55000.0,Source Verified,...,992.58,Credit card refinancing,281.10,0.00,B1,N,Banquet Houseman,Dec-2017,Sep-2018,Other
126408759,2700,2700.0,2879.448475,36 months,0.0993,87.04,3.0,OWN,55000.0,Not Verified,...,2700.00,Credit card refinancing,179.45,0.00,B2,N,Geologist,Dec-2017,Oct-2018,Other
126417383,21000,21000.0,24168.518860,60 months,0.1505,500.14,2.0,MORTGAGE,92000.0,Not Verified,...,21000.00,Debt consolidation,3168.52,0.00,C4,N,"Program Manager, Marine Unit",Dec-2017,Jan-2019,Other
126285300,40000,40000.0,41633.382830,36 months,0.0608,1218.33,0.0,MORTGAGE,100000.0,Source Verified,...,40000.00,Debt consolidation,1633.38,0.00,A2,N,Loss Mitigation Manager,Dec-2017,Oct-2018,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126776,9500,9500.0,10727.304625,36 months,0.0807,297.99,2.0,OWN,90000.0,Not Verified,...,9500.00,New Travel Trailer,1227.30,0.00,A4,N,Affinity Marketing Group,Oct-2007,Oct-2010,Other
131223,20000,20000.0,25188.823383,36 months,0.1565,699.69,6.0,RENT,92000.0,Not Verified,...,20000.00,Working Capital,5188.82,0.00,F3,N,Chevy Chase Bank,Oct-2007,Oct-2010,Other
130907,3775,3775.0,4191.717919,36 months,0.0743,117.31,7.0,MORTGAGE,120000.0,Not Verified,...,3775.00,Re-Lending to others,416.72,0.00,A2,N,SRA Benefits,Oct-2007,Aug-2010,Other
130735,10250,10250.0,11444.365487,36 months,0.1438,352.22,4.0,RENT,72000.0,Not Verified,...,10250.00,Consolidate Car Loans and Credit Cards,1194.37,0.00,E4,N,Cuban Medical Association,Oct-2007,Sep-2008,Other
130512,7250,7250.0,8192.665786,36 months,0.1059,235.96,5.0,MORTGAGE,57000.0,Not Verified,...,7250.00,Credit Card,942.67,0.00,C2,N,Toyota,Oct-2007,May-2009,Other
129745,10000,10000.0,11663.558305,36 months,0.1028,323.99,3.0,RENT,120000.0,Not Verified,...,10000.00,small business credit consolidation,1663.56,0.00,C1,N,"EYOND, Inc.",Sep-2007,Oct-2010,Other
128881,7000,7000.0,8570.680502,36 months,0.1249,234.15,0.0,RENT,23000.0,Not Verified,...,7000.00,RV,1540.68,30.00,D3,N,The Grove,Sep-2007,Nov-2010,Other
128635,6500,6500.0,7648.052287,36 months,0.1028,210.60,0.0,OWN,45000.0,Not Verified,...,6500.00,Debt Consolidation,1088.05,60.00,C1,N,Cartus,Sep-2007,Oct-2010,Other
127830,8000,8000.0,7294.680000,36 months,0.1217,266.37,9.0,MORTGAGE,70000.0,Not Verified,...,5717.45,Interest Rate,1474.29,0.00,D2,N,Equality Florida,Sep-2007,Dec-2009,Other
127531,17000,17000.0,19555.185872,36 months,0.0933,543.20,1.0,RENT,75000.0,Not Verified,...,17000.00,Consolidate Bills,2555.19,0.00,B3,N,NYCPD,Sep-2007,Sep-2010,Other
126788,7500,7500.0,8104.154188,36 months,0.0933,239.65,6.0,MORTGAGE,93000.0,Not Verified,...,7500.00,Home Improvement/ Investment,604.15,0.00,B3,N,"Suniland Associates, LTD.",Sep-2007,Sep-2008,Other
126392,10000,10000.0,10435.303418,36 months,0.0807,313.67,0.0,MORTGAGE,173000.0,Not Verified,...,10000.00,Car Loan,435.30,0.00,A4,N,Tideway Systems,Sep-2007,Apr-2008,Other
126287,10000,10000.0,11068.421851,36 months,0.1154,329.95,9.0,MORTGAGE,225000.0,Not Verified,...,10000.00,Personal loan,1068.42,0.00,C5,N,Affinity Marketing Group,Sep-2007,Oct-2008,Other
126215,5000,5000.0,5459.636223,36 months,0.0775,156.11,0.0,RENT,45000.0,Not Verified,...,5000.00,Transfer Personal Loan,459.64,0.00,A3,N,Fidelity Information Services,Sep-2007,May-2009,Other
126213,9500,9500.0,10727.304626,36 months,0.0807,297.99,2.0,OWN,63000.0,Not Verified,...,9500.00,New Travel Trailer,1227.30,0.00,A4,N,Holland & Knight,Sep-2007,Sep-2010,Other
125897,6625,6625.0,7174.090957,36 months,0.1122,217.60,2.0,MORTGAGE,88000.0,Not Verified,...,6625.00,Refinancing Mastercard,549.09,0.00,C4,N,Digiprotech Learning Systems,Sep-2007,Aug-2008,Other
125671,12125,12125.0,13819.081002,36 months,0.0870,383.87,1.0,MORTGAGE,150000.0,Not Verified,...,12125.00,Get rid of these cards,1694.08,0.00,B1,N,Northwestern Mutual Life Insurance,Sep-2007,Sep-2010,Other
124436,4800,4800.0,5675.572528,36 months,0.1122,157.66,5.0,RENT,30000.0,Not Verified,...,4800.00,Paying off higher interest credit cards,875.57,0.00,C4,N,University of Nebraska-Lincoln,Sep-2007,Sep-2010,Other
123230,3175,3175.0,628.560000,36 months,0.1154,104.76,0.0,OWN,15000.0,Not Verified,...,455.95,Young Entrepreneur Needs Computer,172.24,0.00,C5,N,Tripolitan Films,Aug-2007,Mar-2008,Other
123228,20000,20000.0,12840.310000,36 months,0.0964,642.02,0.0,RENT,96000.0,Not Verified,...,10395.56,I am expanding my business.,2442.88,0.00,B4,N,UDFI,Sep-2007,May-2009,Other
122718,18500,18500.0,20042.614226,36 months,0.1533,644.30,1.0,RENT,90000.0,Not Verified,...,18500.00,Paying off Credit Card balances,1542.61,0.00,F2,N,Goldman Sachs & Co.,Aug-2007,Apr-2008,Other
122637,4000,4000.0,4495.838507,36 months,0.0775,124.89,1.0,OWN,61800.0,Not Verified,...,4000.00,Apartment,495.84,0.00,A3,N,Nestle Waters North America,Aug-2007,Sep-2010,Other
122404,12750,12750.0,13813.154376,36 months,0.1533,444.05,1.0,RENT,60000.0,Not Verified,...,12750.00,Consolidating Credit Card Debt,1063.15,0.00,F2,N,PerTrac Financial Solutions,Aug-2007,Apr-2008,Other
122070,5400,5400.0,6446.047047,36 months,0.1217,179.80,1.0,MORTGAGE,35000.0,Not Verified,...,5400.00,Refinancing Prosper loan...,1046.05,0.00,D2,N,Citizens Financial Group,Aug-2007,Apr-2010,Other
121824,3000,3000.0,3158.893661,36 months,0.0870,94.98,5.0,MORTGAGE,62000.0,Not Verified,...,3000.00,Home improvement project,158.89,0.00,B1,N,Fleurissima,Aug-2007,May-2008,Other
121530,3000,3000.0,3125.435781,36 months,0.0775,93.67,9.0,OWN,50000.0,Not Verified,...,3000.00,Vacation,125.44,0.00,A3,N,Impress,Aug-2007,Apr-2008,Other
121426,3000,3000.0,3125.460949,36 months,0.0775,93.67,1.0,OWN,125000.0,Not Verified,...,3000.00,landscape improvement,125.46,0.00,A3,N,Impress,Aug-2007,Apr-2008,Other
120525,4000,4000.0,4708.070922,36 months,0.1091,130.79,1.0,RENT,18000.0,Not Verified,...,4000.00,Not so new car,708.07,0.00,C3,N,Starbucks,Aug-2007,Aug-2010,Other
120374,2000,2000.0,2279.429900,36 months,0.0870,63.32,0.0,RENT,70000.0,Not Verified,...,2000.00,Zach's Pre-Blis Loan,279.43,0.00,B1,N,North Greenwich Financial LLC,Aug-2007,Aug-2010,Other
120215,4000,4000.0,4474.375860,36 months,0.0743,124.31,0.0,RENT,40000.0,Not Verified,...,4000.00,Engineer seeks Environmental Training,474.38,0.00,A2,N,Community Environmental Center,Aug-2007,Aug-2010,Other

### TRAIN-TEST-SPLIT

In [28]:
X = clean_lc_df.drop(columns=['loan_status'])
y = clean_lc_df[['loan_status']]

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0,test_size=0.3)

#### Mean, Max, Zero Impute & Drops for Missing Values

In [30]:
#replace NaNs with column max, column means, or zeros where it makes sense to
nan_max_cols = [
    'mths_since_last_delinq',
    'mths_since_last_record',
    'mths_since_last_major_derog',
    'mths_since_rcnt_il',
    'mths_since_recent_bc',
    'mths_since_recent_bc_dlq',
    'mths_since_recent_inq',
    'mths_since_recent_revol_delinq',
    'mo_sin_old_il_acct',
    'mo_sin_old_rev_tl_op',
    'mo_sin_rcnt_rev_tl_op',
    'mo_sin_rcnt_tl',
]

nan_zero_cols = [
    'tot_coll_amt',
    'tot_cur_bal',
    'open_acc_6m',
    'open_act_il',
    'open_il_12m',
    'open_il_24m',
    'total_bal_il',
    'open_rv_12m',
    'open_rv_24m',
    'inq_fi',
    'inq_last_12m',
    'num_accts_ever_120_pd',
    'num_actv_bc_tl',
    'num_actv_rev_tl',
    'num_bc_sats',
    'num_bc_tl',
    'num_il_tl',
    'num_op_rev_tl',
    'num_rev_accts',
    'num_rev_tl_bal_gt_0',
    'num_sats',
    'num_tl_120dpd_2m',
    'num_tl_30dpd',
    'num_tl_90g_dpd_24m',
    'num_tl_op_past_12m',
    'mort_acc',
    'percent_bc_gt_75',
    'tot_hi_cred_lim',
    'total_bal_ex_mort',
    'total_bc_limit',
    'total_il_high_credit_limit',
    'bc_open_to_buy',
    'acc_open_past_24mths',
    'total_cu_tl',
    'total_rev_hi_lim',
    'emp_length',
    'pub_rec_bankruptcies',
    'tax_liens'
]

nan_mean_cols = [
    'dti',
    'annual_inc_joint',
    'dti_joint',
    'il_util',
    'all_util',
    'bc_util',
    'pct_tl_nvr_dlq',
    'avg_cur_bal',
    'revol_util',
]


for col in X_train:
    dt = X_train[col].dtype
    #FILL MISSING WITH MEAN from X_train, in both X_train & X_test
    if col in nan_mean_cols:
        X_train[col] = X_train[col].fillna(np.nanmean(X_train[col].values))
        X_test[col] = X_test[col].fillna(np.nanmean(X_train[col].values))
    #FILL MISSING WITH ZEROS from X_train, in both X_train & X_test
    if col in nan_zero_cols:
        X_train[col] = X_train[col].fillna(0.0)
        X_test[col] = X_test[col].fillna(0.0)
    #FILL MISSING WITH MAX from X_train, in both X_train & X_test
    if col in nan_max_cols:
        X_train[col] = X_train[col].fillna(np.nanmax(X_train[col].values) * 5)
        X_test[col] = X_test[col].fillna(np.nanmax(X_train[col].values) * 5)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
X_train.drop(columns=['title'],inplace=True)
X_test.drop(columns=['title'],inplace=True)

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [32]:
null_columns=X_train.columns[X_train.isnull().any()]
X_train[null_columns].isnull().sum()

Series([], dtype: float64)

In [33]:
null_columns=X_test.columns[X_test.isnull().any()]
X_test[null_columns].isnull().sum()

Series([], dtype: float64)

### Categorical Variable One-Hot Encoding

In [34]:
print(clean_lc_df.shape) #103 columns
print(X_train.shape) #dropped title & loan_status (101 columns)
print(X_test.shape) #dropped title & loan_status (101 columns)

(1258501, 103)
(880950, 101)
(377551, 101)

In [35]:
X_train.to_pickle('X_train_pre_ohe_for_future_encoder.pkl') #for use in OHE encoder object on future data

###### One-Hot Encode "term"

In [36]:
X_train['term'].value_counts()

 36 months    664098
 60 months    216852
Name: term, dtype: int64

In [37]:
#term
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['term']])
encoder.categories_

[array([' 36 months', ' 60 months'], dtype=object)]

In [38]:
ohe_term = pd.DataFrame(encoder.transform(X_train[['term']]).toarray(),
                        columns=encoder.get_feature_names(["term"]),index=X_train.index)
ohe_term_test = pd.DataFrame(encoder.transform(X_test[['term']]).toarray(),
                             columns=encoder.get_feature_names(["term"]),index=X_test.index)

ohe_term.shape

(880950, 2)

In [39]:
null_columns=ohe_term.columns[ohe_term.isnull().any()]
ohe_term[null_columns].isnull().sum()

Series([], dtype: float64)

###### One-Hot Encode "home_ownership"

In [40]:
X_train['home_ownership'].value_counts()

MORTGAGE    437095
RENT        354276
OWN          89260
ANY            176
OTHER          111
NONE            32
Name: home_ownership, dtype: int64

In [41]:
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['home_ownership']])
ohe_home_ownership = pd.DataFrame(encoder.transform(X_train[['home_ownership']]).toarray(),
                                  columns=encoder.get_feature_names(["home_ownership"]),index=X_train.index)
ohe_home_ownership_test = pd.DataFrame(encoder.transform(X_test[['home_ownership']]).toarray(),
                                       columns=encoder.get_feature_names(["home_ownership"]),index=X_test.index)

ohe_home_ownership.shape

(880950, 6)

In [42]:
null_columns=ohe_home_ownership.columns[ohe_home_ownership.isnull().any()]
ohe_home_ownership[null_columns].isnull().sum()

Series([], dtype: float64)

##### One-Hot Encode "purpose"

In [43]:
X_train['purpose'].value_counts()

debt_consolidation    515636
credit_card           193927
home_improvement       56020
other                  49167
major_purchase         18846
small_business          9837
medical                 9739
car                     9350
moving                  6120
vacation                5753
house                   4205
wedding                 1530
renewable_energy         593
educational              227
Name: purpose, dtype: int64

In [44]:
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['purpose']])
ohe_purpose = pd.DataFrame(encoder.transform(X_train[['purpose']]).toarray(),
                           columns=encoder.get_feature_names(["purpose"]),index=X_train.index)
ohe_purpose_test = pd.DataFrame(encoder.transform(X_test[['purpose']]).toarray(),
                                columns=encoder.get_feature_names(["purpose"]),index=X_test.index)

ohe_purpose.shape

(880950, 14)

In [45]:
null_columns=ohe_purpose.columns[ohe_purpose.isnull().any()]
ohe_purpose[null_columns].isnull().sum()

Series([], dtype: float64)

##### One-Hot Encode "zip_code"

In [46]:
X_train['zip_code'].value_counts() #945 ZIP CODES

945xx    9905
750xx    9713
112xx    9160
606xx    8265
300xx    8008
331xx    7590
070xx    7257
100xx    7116
770xx    7059
900xx    7014
330xx    6664
891xx    6649
917xx    6362
104xx    6219
117xx    6144
852xx    5642
921xx    5509
926xx    5359
913xx    5230
925xx    5130
334xx    4886
113xx    4623
601xx    4618
481xx    4589
604xx    4502
021xx    4490
853xx    4442
760xx    4415
600xx    4380
080xx    4362
         ...
698xx       1
375xx       1
643xx       1
555xx       1
872xx       1
202xx       1
964xx       1
509xx       1
513xx       1
649xx       1
888xx       1
892xx       1
093xx       1
817xx       1
511xx       1
522xx       1
340xx       1
348xx       1
343xx       1
504xx       1
506xx       1
205xx       1
694xx       1
568xx       1
009xx       1
269xx       1
516xx       1
896xx       1
521xx       1
862xx       1
Name: zip_code, Length: 930, dtype: int64

In [47]:
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['zip_code']])
ohe_zip_code = pd.DataFrame(encoder.transform(X_train[['zip_code']]).toarray(),
                            columns=encoder.get_feature_names(["zip_code"]),index=X_train.index)
ohe_zip_code_test = pd.DataFrame(encoder.transform(X_test[['zip_code']]).toarray(),
                                 columns=encoder.get_feature_names(["zip_code"]),index=X_test.index)

ohe_zip_code.shape

(880950, 930)

In [48]:
null_columns=ohe_zip_code.columns[ohe_zip_code.isnull().any()]
ohe_zip_code[null_columns].isnull().sum()

Series([], dtype: float64)

##### One-Hot Encode "addr_state"

In [49]:
X_train['addr_state'].value_counts()

CA    128889
TX     73175
NY     72355
FL     61290
IL     34480
NJ     32377
PA     29962
OH     28671
GA     28397
VA     25175
NC     24495
MI     22352
MA     20772
AZ     20728
MD     20628
CO     19477
WA     19016
MN     16005
IN     14359
MO     13931
TN     13257
CT     13159
NV     12646
WI     11745
AL     10716
OR     10555
SC     10246
LA     10210
KY      8306
OK      7984
KS      7384
UT      6527
AR      6339
NM      4746
HI      4512
NH      4283
MS      4277
RI      3883
WV      3045
MT      2471
DE      2398
NE      2337
DC      2316
AK      2097
WY      1964
SD      1817
VT      1761
ME      1299
ND      1124
ID      1006
IA         6
Name: addr_state, dtype: int64

In [50]:
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['addr_state']])
ohe_addr_state = pd.DataFrame(encoder.transform(X_train[['addr_state']]).toarray(),
                              columns=encoder.get_feature_names(["addr_state"]),index=X_train.index)
ohe_addr_state_test = pd.DataFrame(encoder.transform(X_test[['addr_state']]).toarray(),
                                   columns=encoder.get_feature_names(["addr_state"]),index=X_test.index)

ohe_addr_state.shape

(880950, 51)

In [51]:
null_columns=ohe_addr_state.columns[ohe_addr_state.isnull().any()]
ohe_addr_state[null_columns].isnull().sum()

Series([], dtype: float64)

##### One-Hot Encode "application_type"

In [52]:
X_train['application_type'].value_counts()

Individual    868313
Joint App      12637
Name: application_type, dtype: int64

In [53]:
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['application_type']])
ohe_application_type = pd.DataFrame(encoder.transform(X_train[['application_type']]).toarray(),
                                    columns=encoder.get_feature_names(["application_type"]),index=X_train.index)
ohe_application_type_test = pd.DataFrame(encoder.transform(X_test[['application_type']]).toarray(),
                                    columns=encoder.get_feature_names(["application_type"]),index=X_test.index)

ohe_application_type.shape

(880950, 2)

In [54]:
null_columns=ohe_application_type.columns[ohe_application_type.isnull().any()]
ohe_application_type[null_columns].isnull().sum()

Series([], dtype: float64)

##### One-Hot Encode "grade"

In [55]:
X_train['grade'].value_counts()

B    258330
C    251178
A    153700
D    129383
E     61236
F     21026
G      6097
Name: grade, dtype: int64

In [56]:
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['grade']])
ohe_grade = pd.DataFrame(encoder.transform(X_train[['grade']]).toarray(),
                         columns=encoder.get_feature_names(["grade"]),index=X_train.index)
ohe_grade_test = pd.DataFrame(encoder.transform(X_test[['grade']]).toarray(),
                              columns=encoder.get_feature_names(["grade"]),index=X_test.index)
ohe_grade.shape

(880950, 7)

In [57]:
null_columns=ohe_grade.columns[ohe_grade.isnull().any()]
ohe_grade[null_columns].isnull().sum()

Series([], dtype: float64)

##### One-Hot Encode "sub_grade"

In [58]:
X_train['sub_grade'].value_counts()

C1    56420
B4    54578
B3    54314
B5    54225
C2    52340
C3    49256
C4    48864
B2    48538
B1    46675
C5    44298
A5    41920
A4    33796
D1    33226
A1    29711
D2    28852
D3    25301
A3    24305
A2    23968
D4    22929
D5    19075
E1    15609
E2    14035
E3    12137
E4    10361
E5     9094
F1     6469
F2     4726
F3     4019
F4     3202
F5     2610
G1     1960
G2     1465
G3     1066
G4      862
G5      744
Name: sub_grade, dtype: int64

In [59]:
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['sub_grade']])
ohe_sub_grade = pd.DataFrame(encoder.transform(X_train[['sub_grade']]).toarray(),
                             columns=encoder.get_feature_names(["sub_grade"]),index=X_train.index)
ohe_sub_grade_test = pd.DataFrame(encoder.transform(X_test[['sub_grade']]).toarray(),
                                  columns=encoder.get_feature_names(["sub_grade"]),index=X_test.index)

ohe_sub_grade.shape

(880950, 35)

In [60]:
null_columns=ohe_sub_grade.columns[ohe_sub_grade.isnull().any()]
ohe_sub_grade[null_columns].isnull().sum()

Series([], dtype: float64)

##### One-Hot Encode "emp_title"

In [61]:
len(X_train['emp_title_2'].value_counts())

50

In [62]:
encoder = OneHotEncoder(categories='auto',handle_unknown='ignore').fit(X_train[['emp_title_2']])
ohe_emp_title_2 = pd.DataFrame(encoder.transform(X_train[['emp_title_2']]).toarray(),
                               columns=encoder.get_feature_names(["emp_title_2"]),index=X_train.index)
ohe_emp_title_2_test = pd.DataFrame(encoder.transform(X_test[['emp_title_2']]).toarray(),
                                    columns=encoder.get_feature_names(["emp_title_2"]),index=X_test.index)

ohe_emp_title_2.shape

(880950, 50)

In [63]:
null_columns=ohe_emp_title_2.columns[ohe_emp_title_2.isnull().any()]
ohe_emp_title_2[null_columns].isnull().sum()

Series([], dtype: float64)

In [64]:
X_train.shape

(880950, 101)

In [65]:
ohe_emp_title_2.shape

(880950, 50)

In [66]:
X_train.head()

,loan_amnt,funded_amnt,total_pymnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,...,collection_recovery_fee,total_rec_prncp,total_rec_int,total_rec_late_fee,sub_grade,debt_settlement_flag,emp_title,issue_d,last_pymnt_d,emp_title_2
id,,,,,,,,,,,,,,,,,,,,,
40592931,20000,20000.0,24704.737119,60 months,0.1239,448.85,1.0,MORTGAGE,62000.0,Source Verified,...,0.000,20000.0,4704.74,0.00,C1,N,driver,Feb-2015,May-2017,driver
17715253,15000,15000.0,10780.580000,36 months,0.1299,505.34,1.0,OWN,55000.0,Verified,...,207.693,6863.3,2712.89,50.54,C1,N,Teacher,Jun-2014,May-2016,Teacher
64261034,16000,16000.0,18049.571386,36 months,0.0818,502.72,8.0,MORTGAGE,72000.0,Not Verified,...,0.000,16000.0,1974.15,75.42,B1,N,minister,Nov-2015,Jan-2019,Other
54353298,24000,24000.0,27124.598857,36 months,0.0818,754.07,1.0,MORTGAGE,70000.0,Source Verified,...,0.000,24000.0,3124.60,0.00,B1,N,Southeast Retail Manager,Jul-2015,Jul-2018,Other
8647714,24000,24000.0,26527.946309,36 months,0.0662,736.89,1.0,MORTGAGE,175000.0,Source Verified,...,0.000,24000.0,2527.95,0.00,A2,N,IT Manager,Nov-2013,Nov-2016,Other

In [67]:
ohe_sub_grade.head()

,sub_grade_A1,sub_grade_A2,sub_grade_A3,sub_grade_A4,sub_grade_A5,sub_grade_B1,sub_grade_B2,sub_grade_B3,sub_grade_B4,sub_grade_B5,...,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5
id,,,,,,,,,,,,,,,,,,,,,
40592931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17715253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64261034,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54353298,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8647714,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
ohe_emp_title_2.head()

,emp_title_2_Account Executive,emp_title_2_Account Manager,emp_title_2_Accountant,emp_title_2_Administrative Assistant,emp_title_2_Administrator,emp_title_2_Analyst,emp_title_2_Assistant Manager,emp_title_2_Attorney,emp_title_2_Branch Manager,emp_title_2_CEO,...,emp_title_2_Technician,emp_title_2_Truck Driver,emp_title_2_Vice President,emp_title_2_driver,emp_title_2_manager,emp_title_2_owner,emp_title_2_sales,emp_title_2_supervisor,emp_title_2_teacher,emp_title_2_truck driver
id,,,,,,,,,,,,,,,,,,,,,
40592931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
17715253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64261034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54353298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8647714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### One Hot Encode All Categorical Features

In [69]:
# encoder = OneHotEncoder(categories=['home_ownership','purpose','zip_code','sub_grade','emp_title_2'],
#                         handle_unknown='ignore').fit(X_train)
# ohe_all = pd.DataFrame(encoder.transform(X_train).toarray(),
#                        columns=encoder.get_feature_names(
#                            ['home_ownership','purpose','zip_code','sub_grade','emp_title_2']))
# ohe_all_test = pd.DataFrame(encoder.transform(X_train).toarray(),
#                             columns=encoder.get_feature_names(
#                                 ['home_ownership','purpose','zip_code','sub_grade','emp_title_2']))

### Join X_train with new One-Hot-Encoded TRAIN DataFrames 
##### & Join X_test with new One-Hot Encoded TEST DataFrames
- X_train + ohe_home_ownership + ohe_purpose + ohe_zip_code + ohe_application_type + ohe_sub_grade(more granular than ohe_grade) + ohe_emp_title_2
- I'm opting for Zip Code (944 cols) instead of State (50 cols - D.C. counts) in the first model under the hypothesis that the more granular location-based variable (zip) will reveal a more meaningful relationship than the broader borders of State

In [70]:
#Individual DF shapes
print(X_train.shape)
print(ohe_home_ownership.shape)
print(ohe_purpose.shape)
print(ohe_zip_code.shape)
print(ohe_application_type.shape)
print(ohe_sub_grade.shape)
print(ohe_emp_title_2.shape)

(880950, 101)
(880950, 6)
(880950, 14)
(880950, 930)
(880950, 2)
(880950, 35)
(880950, 50)

In [71]:
type(ohe_emp_title_2)

pandas.core.frame.DataFrame

In [73]:
#Future Shape
print(X_train.shape[1]+ohe_home_ownership.shape[1]+ohe_purpose.shape[1]+
      ohe_zip_code.shape[1]+ohe_sub_grade.shape[1]+
     ohe_emp_title_2.shape[1])

1136

In [74]:
#concat_test_dfs = [X_train, ohe_home_ownership, ohe_purpose, ohe_zip_code,
#                   ohe_application_type, ohe_sub_grade, ohe_emp_title_2]
X_train_comb = X_train
X_train_comb = pd.concat([X_train_comb.drop("home_ownership", axis=1), ohe_home_ownership], axis=1)

In [75]:
X_train_comb = pd.concat([X_train_comb.drop("purpose", axis=1), ohe_purpose], axis=1)

In [76]:
X_train_comb = pd.concat([X_train_comb.drop("zip_code", axis=1), ohe_zip_code], axis=1)

In [77]:
X_train_comb = pd.concat([X_train_comb.drop("application_type", axis=1), ohe_application_type], axis=1)

In [78]:
X_train_comb = pd.concat([X_train_comb.drop("sub_grade", axis=1), ohe_sub_grade], axis=1)

In [79]:
X_train_comb = pd.concat([X_train_comb.drop("emp_title_2", axis=1), ohe_emp_title_2], axis=1)

In [ ]:
null_columns=X_train_comb.columns[X_train_comb.isnull().any()]
X_train_comb[null_columns].isnull().sum()

In [80]:
X_train_comb.shape

(880950, 1132)

In [81]:
#concat_test_dfs = [X_test, ohe_home_ownership_test, ohe_purpose_test, ohe_zip_code_test,
#                   ohe_application_type_test, ohe_sub_grade_test, ohe_emp_title_2_test]
X_test_comb = X_test
X_test_comb = pd.concat([X_test_comb.drop("home_ownership", axis=1), ohe_home_ownership_test], axis=1)

In [82]:
X_test_comb = pd.concat([X_test_comb.drop("purpose", axis=1), ohe_purpose_test], axis=1)

In [83]:
X_test_comb = pd.concat([X_test_comb.drop("zip_code", axis=1), ohe_zip_code_test], axis=1)

In [84]:
X_test_comb = pd.concat([X_test_comb.drop("application_type", axis=1), ohe_application_type_test], axis=1)

In [85]:
X_test_comb = pd.concat([X_test_comb.drop("sub_grade", axis=1), ohe_sub_grade_test], axis=1)

In [86]:
X_test_comb = pd.concat([X_test_comb.drop("emp_title_2", axis=1), ohe_emp_title_2_test], axis=1)

In [ ]:
null_columns=X_test_comb.columns[X_test_comb.isnull().any()]
X_test_comb[null_columns].isnull().sum()

### Reinstate X_train & X_test

In [87]:
X_test = X_test_comb

In [88]:
X_train = X_train_comb

### Save Each Set to a .TSV File

In [ ]:
#X_train.to_csv('X_train.tsv', sep='\t',chunksize=1000, compression='zip')

In [ ]:
#X_test.to_csv('X_test.tsv', sep='\t',chunksize=1000, compression='zip')

In [ ]:
#y_train.to_csv('y_train.tsv', sep='\t',chunksize=1000, compression='zip')

In [ ]:
#y_test.to_csv('y_test.tsv', sep='\t',chunksize=1000, compression='zip')

### Save Each Dataframe to a .PKL file

In [89]:
X_train.to_pickle('X_train.pkl')

In [90]:
X_test.to_pickle('X_test.pkl')

In [91]:
y_train.to_pickle('y_train.pkl')

In [92]:
y_test.to_pickle('y_test.pkl')

In [93]:
X_train.shape

(880950, 1132)

In [94]:
X_test.shape

(377551, 1132)

In [95]:
y_train.shape

(880950, 1)

In [96]:
y_test.shape

(377551, 1)