In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import math

## LendingClub Data Acquisition

In [4]:
# raw_q12019 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2019Q1.csv',header=1)
# raw_q42018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q4.csv',header=1)
# raw_q32018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q3.csv',header=1)
# raw_q22018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q2.csv',header=1)
# raw_q12018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q1.csv',header=1)
raw_q42017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q4.csv',header=1)
raw_q32017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q3.csv',header=1)
raw_q22017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q2.csv',header=1)
raw_q12017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q1.csv',header=1)
raw_q42016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q4.csv',header=1)
raw_q32016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q3.csv',header=1)
raw_q22016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q2.csv',header=1)
raw_q12016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q1.csv',header=1)
raw_2015 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2015.csv',header=1)
raw_2014 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2014.csv',header=1)
raw_2012to2013 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2012to2013.csv',header=1)
raw_2007to2011 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2007to2011.csv',header=1)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,118) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# print(raw_q12019.shape)
# print(raw_q42018.shape)
# print(raw_q32018.shape)
# print(raw_q22018.shape)
# print(raw_q12018.shape)
print(raw_q42017.shape)
print(raw_q32017.shape)
print(raw_q22017.shape)
print(raw_q12017.shape)
print(raw_q42016.shape)
print(raw_q32016.shape)
print(raw_q22016.shape)
print(raw_q12016.shape)
print(raw_2015.shape)
print(raw_2014.shape)
print(raw_2012to2013.shape)
print(raw_2007to2011.shape)
#raw_q12019,raw_q42018,raw_q32018,raw_q22018,raw_q12018,
dfs = [raw_q42017,raw_q32017,raw_q22017,raw_q12017,
       raw_q42016,raw_q32016,raw_q22016,raw_q12016,raw_2015,
       raw_2014,raw_2012to2013, raw_2007to2011]

(118650, 150)
(122703, 150)
(105453, 150)
(96781, 150)
(103548, 150)
(99122, 150)
(97856, 150)
(133889, 150)
(421097, 150)
(235631, 150)
(188183, 150)
(42538, 150)

In [115]:
raw_lc_df = pd.concat(dfs, ignore_index=True)

In [116]:
raw_lc_df['loan_status'].value_counts()

Fully Paid                                             1076208
Current                                                 399465
Charged Off                                             268335
Late (31-120 days)                                       12138
In Grace Period                                           3934
Late (16-30 days)                                         2586
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     11
Name: loan_status, dtype: int64

In [117]:
raw_lc_df.shape

(1765451, 150)

## Data Cleaning

In [163]:
#FILTER OUT WHOSE STATUS IS NOT YET FINALIZED
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Current']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Late (31-120 days)']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Late (16-30 days)']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'In Grace Period']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Does not meet the credit policy. Status:Fully Paid']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Does not meet the credit policy. Status:Charged Off']

#BINARIZE CLASSES
raw_lc_df['loan_status'] = raw_lc_df['loan_status'].map({'Charged Off': 0, 'Default': 0, 'Fully Paid': 1})

In [164]:
raw_lc_df['earliest_cr_line'] = pd.to_timedelta(pd.to_datetime(raw_lc_df['earliest_cr_line'])).dt.days

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  """Entry point for launching an IPython kernel.

In [165]:
# Parse percentage features.
def parse_percentage(percentage):
    if str(percentage) == 'nan': return math.nan
    new = percentage.replace('%', '')
    return float(new) / 100.0

raw_lc_df['revol_util'] = raw_lc_df['revol_util'].apply(parse_percentage)
raw_lc_df['int_rate'] = raw_lc_df['int_rate'].apply(parse_percentage)

In [166]:
#FILTER OUT COLUMNS THAT ARE REDUNDANT OR UNHELPFUL
lc_df = raw_lc_df[['loan_amnt', 'funded_amnt',
                'term', 'int_rate', 'installment',
                'emp_length', 'home_ownership', 'annual_inc',
                'verification_status', 'loan_status',
                'purpose', 'zip_code', 'addr_state', 'dti',
                'delinq_2yrs', 'earliest_cr_line', 'fico_range_low',
                'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq',
                'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
                'revol_util', 'total_acc', 'out_prncp',
                'out_prncp_inv', 'last_fico_range_high', 'last_fico_range_low',
                'collections_12_mths_ex_med', 'mths_since_last_major_derog',
                'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
                'acc_now_delinq', 'tot_coll_amt',
                'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
                'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
                'open_rv_12m', 'open_rv_24m', 'all_util',
                'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
                'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
                'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
                'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
                'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
                'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
                'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
                'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
                'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
                'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
                'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
                'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
                'total_bal_ex_mort', 'total_bc_limit',
                'total_il_high_credit_limit','grade', 'collection_recovery_fee', 
                'total_rec_prncp', 'title', 'total_rec_int', 'total_rec_late_fee', 
                'sub_grade', 'debt_settlement_flag', 'emp_title','issue_d','last_pymnt_d']]

In [167]:
lc_df.shape

(1344579, 101)

In [168]:
lc_df = lc_df.dropna(axis=0, subset=['loan_amnt','inq_last_6mths']).reset_index(drop=True)

In [169]:
#CAST DATATYPES
dtype = {
      'loan_amnt': 'int64',
      'term': 'category',
      'int_rate': 'object',
      'emp_length': 'category',
      'home_ownership': 'category',
      'annual_inc': 'float64',
      'verification_status': 'category',
      'loan_status': 'category',
      'purpose': 'category',
      'zip_code': 'category',
      'addr_state': 'category',
      'dti': 'float64',
      'delinq_2yrs': 'int64',
      'fico_range_low': 'int64',
      'fico_range_high': 'int64',
      'inq_last_6mths': 'int64',
      'open_acc': 'int64',
      'pub_rec': 'int64',
      'revol_bal': 'int64',
      'total_acc': 'int64',
      'application_type': 'category'
    }
lc_df = lc_df.astype(dtype=dtype)

In [170]:
lc_df.head().T

,0,1,2,3,4
loan_amnt,30000,13000,15000,15750,19800
funded_amnt,30000,13000,15000,15750,19800
term,60 months,60 months,36 months,36 months,60 months
int_rate,0.3079,0.1505,0.1042,0.0735,0.1505
installment,985.21,309.62,486.98,488.84,471.57
emp_length,10+ years,10+ years,3 years,10+ years,3 years
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,40000,72000,55000,96500,108600
verification_status,Source Verified,Source Verified,Source Verified,Source Verified,Not Verified
loan_status,0,1,1,1,1
purpose,other,debt_consolidation,debt_consolidation,debt_consolidation,credit_card
zip_code,103xx,333xx,981xx,968xx,021xx
addr_state,NY,FL,WA,HI,MA
dti,30.86,11.17,17.48,12.22,18.19
delinq_2yrs,1,0,0,1,0
earliest_cr_line,12996,12965,14092,12173,14579
fico_range_low,700,705,670,705,725
fico_range_high,704,709,674,709,729
inq_last_6mths,0,0,0,0,1
mths_since_last_delinq,4,NaN,NaN,10,NaN
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,11,4,28,6,10
pub_rec,0,0,0,0,0
revol_bal,19754,12389,12673,1868,1458
revol_util,0.303,0.774,0.737,0.107,0.037
total_acc,23,13,44,17,14
out_prncp,0,0,0,0,0
out_prncp_inv,0,0,0,0,0
last_fico_range_high,579,764,649,714,714
last_fico_range_low,575,760,645,710,710
...,...,...,...,...,...
num_bc_sats,7,2,2,5,6
num_bc_tl,12,5,2,8,7
num_il_tl,4,5,40,6,7
num_op_rev_tl,10,3,4,5,6
num_rev_accts,19,8,4,11,7
num_rev_tl_bal_gt_0,7,2,3,4,3
num_sats,11,4,28,6,10
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,1,0
num_tl_op_past_12m,0,0,0,3,1
pct_tl_nvr_dlq,95.7,100,100,88.2,100
percent_bc_gt_75,0,50,50,0,0
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,97743,34782,69346,145171,143296
total_bal_ex_mort,46719,23941,66150,128341,90931
total_bc_limit,44800,15000,12200,17500,39500
total_il_high_credit_limit,32543,18782,52146,127671,103796
grade,G,C,B,A,C
collection_recovery_fee,0,0,0,0,0
total_rec_prncp,2196.71,13000,15000,15750,19800
title,Other,Debt consolidation,Debt consolidation,Debt consolidation,Credit card refinancing
total_rec_int,9463.05,598.13,1065.25,641.95,2471.93
total_rec_late_fee,98.52,0,0,0,0
sub_grade,G1,C4,B3,A4,C4
debt_settlement_flag,N,N,N,N,N
emp_title,Supervsir,Sales manager,Finance,Service Coordinator,engineer
issue_d,Dec-2017,Dec-2017,Dec-2017,Dec-2017,Dec-2017
last_pymnt_d,Feb-2019,Apr-2018,Sep-2018,Sep-2018,Nov-2018

In [109]:
#     '''
#     Split dataset into 'train' and 'test'.
#     '''
#     import numpy as np
#     train, test = np.split(df.sample(frac=1), [int(.7*len(df))])

#     '''
#     Split train/test into features/label numpy arrays.
#     '''
#     LABEL_COL = 'loan_status'
#     train_x = train.loc[:, train.columns != LABEL_COL].values
#     train_y = train.loc[:, train.columns == LABEL_COL].values.squeeze()
#     test_x = test.loc[:, test.columns != LABEL_COL].values
#     test_y = test.loc[:, test.columns == LABEL_COL].values.squeeze()

#     # Standardize data
#     from sklearn.preprocessing import StandardScaler
#     scaler = StandardScaler()
#     scaler.fit(train_x)
#     train_x = scaler.transform(train_x)
#     test_x = scaler.transform(test_x)
#     np.savez_compressed('dataset.npz', train_x, train_y, test_x, test_y)
#     return (train_x, train_y, test_x, test_y)

In [171]:
lc_df.columns[lc_df.isna().all()].tolist()

[]

In [172]:
lc_df.shape

(1344553, 101)

In [173]:
lc_df[['addr_state','annual_inc','collection_recovery_fee','emp_title',
           'fico_range_high','fico_range_low','funded_amnt','grade','home_ownership',
           'int_rate','loan_amnt','loan_status','purpose','sub_grade','title','total_rec_int',
           'total_rec_late_fee','total_rec_prncp','zip_code','debt_settlement_flag','out_prncp',
           'collection_recovery_fee']].head(20)

,addr_state,annual_inc,collection_recovery_fee,emp_title,fico_range_high,fico_range_low,funded_amnt,grade,home_ownership,int_rate,...,purpose,sub_grade,title,total_rec_int,total_rec_late_fee,total_rec_prncp,zip_code,debt_settlement_flag,out_prncp,collection_recovery_fee
0,NY,40000.0,0.0000,Supervsir,704,700,30000.0,G,RENT,0.3079,...,other,G1,Other,9463.05,98.52,2196.71,103xx,N,0.0,0.0000
1,FL,72000.0,0.0000,Sales manager,709,705,13000.0,C,RENT,0.1505,...,debt_consolidation,C4,Debt consolidation,598.13,0.00,13000.00,333xx,N,0.0,0.0000
2,WA,55000.0,0.0000,Finance,674,670,15000.0,B,RENT,0.1042,...,debt_consolidation,B3,Debt consolidation,1065.25,0.00,15000.00,981xx,N,0.0,0.0000
3,HI,96500.0,0.0000,Service Coordinator,709,705,15750.0,A,RENT,0.0735,...,debt_consolidation,A4,Debt consolidation,641.95,0.00,15750.00,968xx,N,0.0,0.0000
4,MA,108600.0,0.0000,engineer,729,725,19800.0,C,RENT,0.1505,...,credit_card,C4,Credit card refinancing,2471.93,0.00,19800.00,021xx,N,0.0,0.0000
5,NJ,100000.0,0.0000,Paralegal,779,775,10000.0,A,MORTGAGE,0.0532,...,debt_consolidation,A1,Debt consolidation,78.81,0.00,10000.00,087xx,N,0.0,0.0000
6,CA,55000.0,0.0000,Admissions Advisor,664,660,32600.0,B,RENT,0.1199,...,house,B5,Home buying,4036.10,0.00,32600.00,958xx,N,0.0,0.0000
7,NJ,54000.0,0.0000,Electro Mechanical Technician,669,665,10000.0,B,RENT,0.0944,...,debt_consolidation,B1,Debt consolidation,696.77,0.00,10000.00,070xx,N,0.0,0.0000
8,IN,85000.0,0.0000,Special Education Teacher,664,660,13000.0,B,MORTGAGE,0.0993,...,debt_consolidation,B2,Debt consolidation,569.54,0.00,13000.00,462xx,N,0.0,0.0000
9,FL,70000.0,200.5740,RN,694,690,10000.0,A,MORTGAGE,0.0672,...,other,A3,Other,371.08,46.14,1788.05,327xx,N,0.0,200.5740
10,FL,110000.0,465.9174,N FL HCP Associate Vice President,694,690,20000.0,D,MORTGAGE,0.1806,...,debt_consolidation,D2,Debt consolidation,2267.69,0.00,1750.38,320xx,N,0.0,465.9174
11,CA,70000.0,0.0000,Lvn,669,665,20000.0,F,RENT,0.2872,...,major_purchase,F1,Major purchase,2521.16,0.00,20000.00,925xx,N,0.0,0.0000
12,CA,55000.0,0.0000,Boss and only employee,714,710,16000.0,C,MORTGAGE,0.1262,...,debt_consolidation,C1,Debt consolidation,1919.21,0.00,16000.00,925xx,N,0.0,0.0000
13,IN,354000.0,0.0000,chief operating officer,684,680,25000.0,F,MORTGAGE,0.3017,...,debt_consolidation,F3,Debt consolidation,544.58,0.00,25000.00,460xx,N,0.0,0.0000
14,NJ,110000.0,0.0000,Submissions,739,735,11000.0,B,MORTGAGE,0.0993,...,credit_card,B2,Credit card refinancing,1079.47,0.00,11000.00,070xx,N,0.0,0.0000
15,VA,60000.0,484.0614,Owner,719,715,20000.0,C,MORTGAGE,0.1408,...,home_improvement,C3,Home improvement,195.56,0.00,231.53,221xx,N,0.0,484.0614
16,MO,22000.0,0.0000,NaN,729,725,10000.0,D,MORTGAGE,0.2,...,debt_consolidation,D4,Debt consolidation,1561.81,0.00,1059.81,630xx,N,0.0,0.0000
17,NY,84498.0,0.0000,Administrative Coordinator,724,720,8000.0,B,RENT,0.0944,...,major_purchase,B1,Major purchase,756.27,0.00,8000.00,104xx,N,0.0,0.0000
18,CA,55000.0,0.0000,Room att,744,740,35000.0,B,RENT,0.1042,...,other,B3,Other,2921.93,0.00,35000.00,900xx,N,0.0,0.0000
19,IL,24000.0,0.0000,Technician,729,725,1200.0,A,RENT,0.0735,...,debt_consolidation,A4,Debt consolidation,89.97,0.00,1200.00,606xx,N,0.0,0.0000

### Feature Preprocessing

#### Mean, Max, Zero Impute for Missing Values

In [174]:
#replace NaNs with column max, column means, or zeros where it makes sense to
nan_max_cols = [
    'mths_since_last_delinq',
    'mths_since_last_record',
    'mths_since_last_major_derog',
    'mths_since_rcnt_il',
    'mths_since_recent_bc',
    'mths_since_recent_bc_dlq',
    'mths_since_recent_inq',
    'mths_since_recent_revol_delinq',
    'mo_sin_old_il_acct',
    'mo_sin_old_rev_tl_op',
    'mo_sin_rcnt_rev_tl_op',
    'mo_sin_rcnt_tl',
]

nan_zero_cols = [
    'tot_coll_amt',
    'tot_cur_bal',
    'open_acc_6m',
    'open_act_il',
    'open_il_12m',
    'open_il_24m',
    'total_bal_il',
    'open_rv_12m',
    'open_rv_24m',
    'inq_fi',
    'inq_last_12m',
    'num_accts_ever_120_pd',
    'num_actv_bc_tl',
    'num_actv_rev_tl',
    'num_bc_sats',
    'num_bc_tl',
    'num_il_tl',
    'num_op_rev_tl',
    'num_rev_accts',
    'num_rev_tl_bal_gt_0',
    'num_sats',
    'num_tl_120dpd_2m',
    'num_tl_30dpd',
    'num_tl_90g_dpd_24m',
    'num_tl_op_past_12m',
    'mort_acc',
    'percent_bc_gt_75',
    'tot_hi_cred_lim',
    'total_bal_ex_mort',
    'total_bc_limit',
    'total_il_high_credit_limit',
    'bc_open_to_buy',
    'acc_open_past_24mths',
    'total_cu_tl',
    'total_rev_hi_lim',
]

nan_mean_cols = [
    'dti',
    'annual_inc_joint',
    'dti_joint',
    'il_util',
    'all_util',
    'bc_util',
    'pct_tl_nvr_dlq',
    'avg_cur_bal',
    'revol_util',
]

for col in lc_df:
    dt = lc_df[col].dtype
    #FILL MISSING WITH MEAN
    if col in nan_mean_cols:
        lc_df[col] = lc_df[col].fillna(np.nanmean(lc_df[col].values))
    #FILL MISSING WITH ZEROS
    if col in nan_zero_cols:
        lc_df[col] = lc_df[col].fillna(0.0)
    #FILL MISSING WITH MAX
    if col in nan_max_cols:
        lc_df[col] = lc_df[col].fillna(np.nanmax(lc_df[col].values) * 5)

## Classification Modeling (Fully Paid = 1, Charged-Off = 0)

#### Logistic Regression v1

## IRR Target Variable Calculation/Extrapolation

In [127]:
#calculating NAR
lc_df[['total_rec_int','total_rec_late_fee','installment','collection_recovery_fee','out_prncp','loan_status']].head(5)

,total_rec_int,total_rec_late_fee,installment,collection_recovery_fee,out_prncp,loan_status
0,9463.05,98.52,985.21,0.0,0.0,0.0
1,598.13,0.00,309.62,0.0,0.0,1.0
2,1065.25,0.00,486.98,0.0,0.0,1.0
3,641.95,0.00,488.84,0.0,0.0,1.0
4,2471.93,0.00,471.57,0.0,0.0,1.0

In [128]:
lc_df['last_pymnt_d'].head()

0    Feb-2019
1    Apr-2018
2    Sep-2018
3    Sep-2018
4    Nov-2018
Name: last_pymnt_d, dtype: object

In [129]:
lc_df['last_payment_date'] = lc_df['last_pymnt_d'].str[:3]+'/'+'1'+'/'+lc_df['last_pymnt_d'].str[4:]
lc_df['issue_date'] = lc_df['issue_d'].str[:3]+'/'+'1'+'/'+lc_df['issue_d'].str[4:]

In [130]:
lc_df['last_payment_date'] = lc_df['last_payment_date'].astype(str)
lc_df['issue_date'] = lc_df['issue_date'].astype(str)

In [131]:
lc_df = lc_df[lc_df['last_payment_date'] != 'nan'].reset_index()

In [132]:
lc_df['last_payment_date'][1319]

'May/1/2018'

In [133]:
from datetime import datetime

lc_df['last_payment_date_dt'] = lc_df['last_payment_date'].map(lambda x: datetime.strptime(x,'%b/%d/%Y'))
lc_df['issue_date_dt'] = lc_df['issue_date'].map(lambda x: datetime.strptime(x,'%b/%d/%Y'))

In [134]:
lc_df['issue_date_dt'].tail()

1342773   2007-07-01
1342774   2007-07-01
1342775   2007-07-01
1342776   2007-07-01
1342777   2007-06-01
Name: issue_date_dt, dtype: datetime64[ns]

In [135]:
lc_df['days_btwn_funding_lastpayment'] = (lc_df['last_payment_date_dt'].dt.date -
                                          lc_df['issue_date_dt'].dt.date).dt.days

In [ ]:
#raw_lc_df['y_stanford'] = (raw_lc_df['total_pymnt']/raw_lc_df['funded_amnt'])-1

In [136]:
lc_df[['addr_state','annual_inc','collection_recovery_fee','emp_title',
           'fico_range_high','fico_range_low','funded_amnt','grade','home_ownership',
           'int_rate','loan_amnt','loan_status','purpose','sub_grade','title','total_rec_int',
           'total_rec_late_fee','total_rec_prncp','zip_code','debt_settlement_flag','out_prncp',
           'collection_recovery_fee','days_btwn_funding_lastpayment','y_stanford']][lc_df['loan_status'] == 1].tail(5)

KeyError: "['y_stanford'] not in index"

In [ ]:

# for i in range(50): 
#     if raw_lc_df.loc[i,'loan_status'] != 'Charged Off':
#         raw_lc_df.loc[i,'NAR_test'] = ((1+((((raw_lc_df['total_rec_int'][i] #(interest received
#                                     +raw_lc_df['total_rec_late_fee'][i] # + late fees received
#                                     -(0.01*raw_lc_df['installment'][i]) # - service fee paid
#                                     +((raw_lc_df['collection_recovery_fee'][i]/.4)*.6) # + collection fees received
#                                     - 0) # - 0 or out.principal
#                                  /(raw_lc_df['out_prncp'][i])) #ALL THE ABOVE divided by out.principal
#                                     *raw_lc_df['out_prncp'][i]) #FRACTION ABOVE times out.principal
#                                  / (raw_lc_df['out_prncp'][i])))**12)-1 #TERM ABOVE divided by out.principal, 
#                                                                     #& EVERYTHING to the power of 12 & ALL OF THAT minus 1
#     else: 
#         raw_lc_df.loc[i,'NAR_test'] = ((1+((((raw_lc_df['total_rec_int'][i] #(interest received
#                                     +raw_lc_df['total_rec_late_fee'][i] # + late fees received
#                                     -(0.01*raw_lc_df['installment'][i]) # - service fee paid
#                                     +((raw_lc_df['collection_recovery_fee'][i]/.4)*.6) # + collection fees received
#                                     - raw_lc_df['out_prncp'][i]) # - 0 or out.principal
#                                  /(raw_lc_df['out_prncp'][i])) #ALL THE ABOVE divided by out.principal
#                                     *raw_lc_df['out_prncp'][i]) #FRACTION ABOVE times out.principal
#                                  / (raw_lc_df['out_prncp'][i])))**12)-1 #TERM ABOVE divided by out.principal, 
#                                                                     #& EVERYTHING to the power of 12 & ALL OF THAT minus 1
#     print('row completed')

In [ ]:
lc_df.head(10)

In [ ]:
lc_df['loan_status'].value_counts()