In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
raw_q12019 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2019Q1.csv',header=1)
raw_q42018 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2018Q4.csv',header=1)
raw_q32018 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2018Q3.csv',header=1)
raw_q22018 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2018Q2.csv',header=1)
raw_q12018 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2018Q1.csv',header=1)
raw_q42017 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2017Q4.csv',header=1)
raw_q32017 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2017Q3.csv',header=1)
raw_q22017 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2017Q2.csv',header=1)
raw_q12017 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2017Q1.csv',header=1)
raw_q42016 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2016Q4.csv',header=1)
raw_q32016 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2016Q3.csv',header=1)
raw_q22016 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2016Q2.csv',header=1)
raw_q12016 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2016Q1.csv',header=1)
raw_2015 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2015.csv',header=1)
raw_2014 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2014.csv',header=1)
raw_2012to2013 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2012to2013.csv',header=1)
raw_2007to2011 = pd.read_csv('~/peervest_files/peervest/lc_data/LoanStats_securev1_2007to2011.csv',header=1)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,129,130,131,134,135,136,139,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,118) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(raw_q12019.shape)
print(raw_q42018.shape)
print(raw_q32018.shape)
print(raw_q22018.shape)
print(raw_q12018.shape)
print(raw_q42017.shape)
print(raw_q32017.shape)
print(raw_q22017.shape)
print(raw_q12017.shape)
print(raw_q42016.shape)
print(raw_q32016.shape)
print(raw_q22016.shape)
print(raw_q12016.shape)
print(raw_2015.shape)
print(raw_2014.shape)
print(raw_2012to2013.shape)
print(raw_2007to2011.shape)
dfs = [raw_q12019,raw_q42018,raw_q32018,raw_q22018,raw_q12018,raw_q42017,raw_q32017,
       raw_q22017,raw_q12017,raw_q42016,raw_q32016,raw_q22016,raw_q12016,raw_2015,
       raw_2014,raw_2012to2013, raw_2007to2011]

(115677, 150)
(128414, 150)
(128196, 150)
(130774, 150)
(107866, 150)
(118650, 150)
(122703, 150)
(105453, 150)
(96781, 150)
(103548, 150)
(99122, 150)
(97856, 150)
(133889, 150)
(421097, 150)
(235631, 150)
(188183, 150)
(42538, 150)

In [5]:
raw_q12019.columns[raw_q12019.isna().all()].tolist()

['member_id',
 'desc',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount']

In [6]:
for df in dfs:
    df.drop(columns=['member_id','desc','hardship_type','hardship_reason','hardship_status',
                     'deferral_term','hardship_amount','hardship_start_date','hardship_end_date',
                     'payment_plan_start_date','hardship_length','hardship_dpd','hardship_loan_status',
                     'orig_projected_additional_accrued_interest','hardship_payoff_balance_amount',
                     'hardship_last_payment_amount'],inplace=True)

In [7]:
raw_lc_df = pd.concat(dfs, ignore_index=True)

In [8]:
raw_lc_df.columns[raw_lc_df.isna().any()].tolist()

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [9]:
raw_lc_df.shape

(2376378, 134)

In [10]:
raw_lc_df = raw_lc_df.dropna(axis=0, subset=['loan_amnt','funded_amnt','int_rate','loan_status'])

In [11]:
raw_lc_df.shape

(2376343, 134)

In [26]:
raw_lc_df[['addr_state','annual_inc','collection_recovery_fee','emp_title',
           'fico_range_high','fico_range_low','funded_amnt','grade','home_ownership',
           'int_rate','loan_amnt','loan_status','purpose','sub_grade','title','total_rec_int',
           'total_rec_late_fee','total_rec_prncp','zip_code','debt_settlement_flag','out_prncp',
           'collection_recovery_fee']].head(20)

,addr_state,annual_inc,collection_recovery_fee,emp_title,fico_range_high,fico_range_low,funded_amnt,grade,home_ownership,int_rate,...,purpose,sub_grade,title,total_rec_int,total_rec_late_fee,total_rec_prncp,zip_code,debt_settlement_flag,out_prncp,collection_recovery_fee
0,CA,47000.0,0.0,Front desk supervisor,699.0,695.0,20000.0,C,RENT,17.19%,...,debt_consolidation,C5,Debt consolidation,434.89,0.0,525.11,958xx,N,19474.89,0.0
1,CA,225000.0,0.0,ceo,704.0,700.0,21225.0,C,MORTGAGE,14.74%,...,credit_card,C2,Credit card refinancing,483.70,0.0,485.64,956xx,N,20739.36,0.0
2,FL,62000.0,0.0,NaN,674.0,670.0,5000.0,D,MORTGAGE,17.97%,...,home_improvement,D1,Home improvement,138.19,0.0,213.21,320xx,N,4786.79,0.0
3,PA,200000.0,0.0,Executive Director of Guardian Advantage,714.0,710.0,20000.0,A,MORTGAGE,8.19%,...,credit_card,A4,Credit card refinancing,251.44,0.0,987.34,190xx,N,19012.66,0.0
4,AZ,34860.0,0.0,Security officer,749.0,745.0,13500.0,A,RENT,7.56%,...,credit_card,A3,Credit card refinancing,156.18,0.0,753.10,857xx,N,12746.90,0.0
5,IL,305000.0,0.0,"Vice President, Trade Show",774.0,770.0,25000.0,A,MORTGAGE,7.02%,...,debt_consolidation,A2,Debt consolidation,269.34,0.0,1255.48,600xx,N,23744.52,0.0
6,PA,49000.0,0.0,Computer Operator,704.0,700.0,12000.0,C,MORTGAGE,15.57%,...,debt_consolidation,C3,Debt consolidation,288.91,0.0,268.51,152xx,N,11731.49,0.0
7,GA,38000.0,0.0,NaN,759.0,755.0,10000.0,B,MORTGAGE,12.40%,...,credit_card,B4,Credit card refinancing,149.96,0.0,10000.00,306xx,N,0.00,0.0
8,MI,50000.0,0.0,Administrative Assistant/Legal Secretary,704.0,700.0,7000.0,A,MORTGAGE,8.81%,...,credit_card,A5,Credit card refinancing,94.68,0.0,342.43,489xx,N,6657.57,0.0
9,TX,124812.0,0.0,Engineer,699.0,695.0,24000.0,B,MORTGAGE,12.40%,...,debt_consolidation,B4,Debt consolidation,459.93,0.0,584.48,765xx,N,23415.52,0.0
10,NY,43000.0,0.0,Social Worker,749.0,745.0,18500.0,C,MORTGAGE,13.90%,...,debt_consolidation,C1,Debt consolidation,397.52,0.0,432.93,113xx,N,18067.07,0.0
11,AZ,67500.0,0.0,QC Manager,679.0,675.0,12000.0,C,MORTGAGE,13.90%,...,debt_consolidation,C1,Debt consolidation,256.34,0.0,544.23,853xx,N,11455.77,0.0
12,TX,80713.0,0.0,Electrical Engineer,704.0,700.0,24000.0,B,MORTGAGE,12.40%,...,credit_card,B4,Credit card refinancing,459.93,0.0,584.48,765xx,N,23415.52,0.0
13,FL,58750.0,0.0,Office Manager,684.0,680.0,3000.0,C,MORTGAGE,14.74%,...,medical,C2,Medical expenses,67.97,0.0,134.36,327xx,N,2865.64,0.0
14,OH,95000.0,0.0,Executive Director,684.0,680.0,12000.0,C,MORTGAGE,16.40%,...,debt_consolidation,C4,Debt consolidation,302.57,0.0,524.08,436xx,N,11475.92,0.0
15,MI,72000.0,0.0,Executive Assistant,749.0,745.0,10000.0,A,RENT,8.19%,...,debt_consolidation,A4,Debt consolidation,125.72,0.0,493.68,481xx,N,9506.32,0.0
16,MI,50000.0,0.0,Case Packer,684.0,680.0,4000.0,C,MORTGAGE,14.74%,...,debt_consolidation,C2,Debt consolidation,90.62,0.0,179.15,494xx,N,3820.85,0.0
17,SC,112000.0,0.0,Chief Executive Officer,779.0,775.0,30000.0,A,MORTGAGE,8.81%,...,debt_consolidation,A5,Debt consolidation,405.76,0.0,1467.57,296xx,N,28532.43,0.0
18,PA,84000.0,0.0,Station Agent,694.0,690.0,16000.0,D,RENT,28.80%,...,debt_consolidation,D5,Debt consolidation,713.87,0.0,246.79,183xx,N,15753.21,0.0
19,MD,28000.0,0.0,Fresh,674.0,670.0,10000.0,D,RENT,20.00%,...,debt_consolidation,D2,Debt consolidation,307.70,0.0,413.36,211xx,N,9586.64,0.0

In [33]:
#calculating NAR
raw_lc_df[['total_rec_int','total_rec_late_fee','installment','collection_recovery_fee','out_prncp','loan_status']].head(5)

,total_rec_int,total_rec_late_fee,installment,collection_recovery_fee,out_prncp,loan_status
0,434.89,0.0,499.10,0.0,19474.89,Current
1,483.70,0.0,502.05,0.0,20739.36,Current
2,138.19,0.0,180.69,0.0,4786.79,Current
3,251.44,0.0,628.49,0.0,19012.66,Current
4,156.18,0.0,420.31,0.0,12746.90,Current

In [84]:
raw_lc_df['last_payment_date'] = raw_lc_df['last_pymnt_d'].str[:3]+'/'+'1'+'/'+raw_lc_df['last_pymnt_d'].str[4:]
raw_lc_df['issue_date'] = raw_lc_df['issue_d'].str[:3]+'/'+'1'+'/'+raw_lc_df['issue_d'].str[4:]

In [85]:
from datetime import datetime
for i in range(50):
    raw_lc_df['last_payment_date'][i] = datetime.strptime(raw_lc_df['last_payment_date'][i], '%b/%d/%Y')
    raw_lc_df['issue_date'][i] = datetime.strptime(raw_lc_df['issue_date'][i], '%b/%d/%Y')
    print ("new datetime row")

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row
new datetime row

In [86]:
raw_lc_df['last_payment_date'].dtype

dtype('O')

In [134]:
raw_lc_df['days_btwn_funding_lastpayment'] = (raw_lc_df['last_payment_date'].dt.date -
                                              raw_lc_df['issue_date'].dt.date).dt.days

0    61
1    61
2    61
3    61
4    61
dtype: int64

In [36]:
raw_lc_df['loan_status'].value_counts()

Fully Paid                                             1142001
Current                                                 917478
Charged Off                                             281659
Late (31-120 days)                                       20936
In Grace Period                                           6799
Late (16-30 days)                                         4702
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     19
Name: loan_status, dtype: int64

In [ ]:
raw_lc_df['y_stanford'] = (raw_lc_df['total_pymnt']/raw_lc_df['loan_amnt'])**(1/(365/))

In [47]:



for i in range(50): 
    if raw_lc_df.loc[i,'loan_status'] != 'Charged Off':
        raw_lc_df.loc[i,'NAR_test'] = ((1+((((raw_lc_df['total_rec_int'][i] #(interest received
                                    +raw_lc_df['total_rec_late_fee'][i] # + late fees received
                                    -(0.01*raw_lc_df['installment'][i]) # - service fee paid
                                    +((raw_lc_df['collection_recovery_fee'][i]/.4)*.6) # + collection fees received
                                    - 0) # - 0 or out.principal
                                 /(raw_lc_df['out_prncp'][i])) #ALL THE ABOVE divided by out.principal
                                    *raw_lc_df['out_prncp'][i]) #FRACTION ABOVE times out.principal
                                 / (raw_lc_df['out_prncp'][i])))**12)-1 #TERM ABOVE divided by out.principal, 
                                                                    #& EVERYTHING to the power of 12 & ALL OF THAT minus 1
    else: 
        raw_lc_df.loc[i,'NAR_test'] = ((1+((((raw_lc_df['total_rec_int'][i] #(interest received
                                    +raw_lc_df['total_rec_late_fee'][i] # + late fees received
                                    -(0.01*raw_lc_df['installment'][i]) # - service fee paid
                                    +((raw_lc_df['collection_recovery_fee'][i]/.4)*.6) # + collection fees received
                                    - raw_lc_df['out_prncp'][i]) # - 0 or out.principal
                                 /(raw_lc_df['out_prncp'][i])) #ALL THE ABOVE divided by out.principal
                                    *raw_lc_df['out_prncp'][i]) #FRACTION ABOVE times out.principal
                                 / (raw_lc_df['out_prncp'][i])))**12)-1 #TERM ABOVE divided by out.principal, 
                                                                    #& EVERYTHING to the power of 12 & ALL OF THAT minus 1
    print('row completed')

row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed
row completed

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:11: RuntimeWarning: divide by zero encountered in double_scalars
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in double_scalars
  if sys.path[0] == '':

In [49]:
raw_lc_df.head(10)

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,sec_app_mths_since_last_major_derog,hardship_flag,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,NAR_test
0,149465254,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,Front desk supervisor,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.299543
1,149521669,21225.0,21225.0,21225.0,60 months,14.74%,502.05,C,C2,ceo,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.314979
2,149513773,5000.0,5000.0,5000.0,36 months,17.97%,180.69,D,D1,NaN,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.400905
3,149519631,20000.0,20000.0,20000.0,36 months,8.19%,628.49,A,A4,Executive Director of Guardian Advantage,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.166191
4,149522671,13500.0,13500.0,13500.0,36 months,7.56%,420.31,A,A3,Security officer,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.152837
5,149518435,25000.0,25000.0,25000.0,36 months,7.02%,772.16,A,A2,"Vice President, Trade Show",...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.140531
6,149517782,12000.0,12000.0,12000.0,60 months,15.57%,289.09,C,C3,Computer Operator,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.335166
7,149518751,10000.0,10000.0,10000.0,60 months,12.40%,224.48,B,B4,NaN,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,149332442,7000.0,7000.0,7000.0,36 months,8.81%,221.98,A,A5,Administrative Assistant/Legal Secretary,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.179994
9,149471393,24000.0,24000.0,24000.0,60 months,12.40%,538.74,B,B4,Engineer,...,NaN,N,N,NaN,NaN,NaN,NaN,NaN,NaN,0.259497

In [36]:
raw_lc_df['loan_status'].value_counts()

Fully Paid                                             1142001
Current                                                 917478
Charged Off                                             281659
Late (31-120 days)                                       20936
In Grace Period                                           6799
Late (16-30 days)                                         4702
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     19
Name: loan_status, dtype: int64

In [ ]:
#calculating Adjusted NAR